<div class="inner-sidebar inner-sidebar-right">
    <ul class="sidebar-nav sidebar-nav-inner sidebar-nav-medium">
        <li>
            <a href="" data-ng-click="$ctrl.scrollTop()">
                <span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-arrow-up fa-stack-1x "></i></span> <span data-translate="TOP"></span></a>
        </li>
        <li class="title">
            <span class="fa-stack fa-lg pull-left"><i class="fa fa-filter fa-stack-1x "></i></span> <strong>SETTINGS</strong>
        </li>

    </ul>
</div>
